{% extends 'bases/index.html' %}

{% block content %}
<div class="card mt-3 mb-4" style="margin-left:12%;margin-right:12%;">

                 <h2 style="color:blue;margin-top:20px;margin-bottom:20px; margin-left: 8%; ">
                     Group Name : {{project.group_id}}</h2>

                     <!-- <h4 style="margin-top:3px;text-align: center;background: #71e1e1;padding: 10px;">
                        Group Project </h4> -->

                
                
                <h3 style="margin-top:3px;margin-left: 8%;">title : {{ project.project_title}}</h3>
                <h3 style=" margin-left: 8%;">Description :</h3><br> <span class="text-muted" style=" margin-left: 14%;margin-right: 3%; font-size: 18px;"> {{ project.project_description}} </span> 
                <h3 style=" margin-left: 8%; margin-bottom: 10px;">Project status: <span class="text-success" style=" font-size: 23px;font-weight: bold;">{{project.status}}</span> </h3>    
            
            </div>
{% endblock %}