{% extends 'bases/index.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- -->
<div class="row justify-content-center mt-5" style="max-width:100%">
    <div class="col-sm-4 col-md-6 col-sm-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-centre">Registration Form</h2><hr>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'users/form.html' %}
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}