{% extends 'bases/index.html' %}

{%block content%}



<div class="container">

    <div class="row">
        <div class="col-3" style="margin-top:40px">
            
            <img class="rounded-circle article-img" style="width:70px"
             src="{{customs_user.username.profile.image.url}}" alt="...">
            <br>
           <h3> {{customs_user.username.first_name }}  {{ customs_user.username.last_name }}</h3>
           <h4 class="text-muted mt-3 text-success">You are {{customs_user.role }}</h4>
        </div>
        <div class="col-7">
            <h3 class="text-centre navbar navbar-expand-md navbar-light bg-success"> You are supervising the following group </h3>
               <h4 style="margin-top:3%">
                   {% for supervisor in supervisors %}

                        {% if customs_user.username == supervisor.supervisor_name %}

                             Group : {{ supervisor.group_id }} <br>
                            Email : {{ supervisor.group_id.group_email }} <br>
                            Department : {{ supervisor.group_id.department_id }} <br>
                           School : {{ supervisor.group_id.department_id.school_id }} <br>
                           <p><a style="padding:5px" href="{% url 'hod_group_detail' supervisor.group_id.pk%}" class="btn btn-outline-success btn-sm text-primary mt-4">More details</a></p>
                       {% endif %}
<!-- url 'approve_project' project.pk -->
                  {% endfor %}
                    </h4>
                    
                  <hr style="color: green;">
        </div>

    </div>
</div>

{% endblock %}