{% extends 'bases/index.html' %}

{% block scripts %}
 <script>

   const searchBtn = document.getElementById("search")
   const searchForm = document.getElementById("form")

   searchBtn.addEventListener('click', function(){
     console.log('clicked')
    //  searchForm.style.opacity=1
   })
 </script>

{% endblock scripts %}

{% block content %}


<div class="row" style="background:#4d7db038;margin:1px;padding:9px;display: flex;flex-direction: row; width: 96vw;margin: 2%;">
  <div style="width: 20%; margin-right: 10px;">
       <!-- <div id="search" style="background-color: white; border-radius: 5px; padding: 2px; width: 90%; margin-top: 3%; cursor:pointer;"><i class="fa fa-search" aria-hidden="true" style="color: blue;"></i> Seach project</div> -->
        <!-- bootstrap -->
        <form action="." method="get" id="form" style="margin-right: 10px; opacity: 1; margin-top: 3%;margin-left: 8%;">
          <div class="form-group">
            <label for="exampleFormControlInput1">Project title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title_contains">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Keywords</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="keyword">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Technology</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="technology">
          </div>
          <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">School</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="school">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Supervisor</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="supervisor">
          </div> -->

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container" style="width: 65%;">
      
      {% for post in pros %}
          <div class="row" style="max-width:100%;margin:30px">

            <div class="col">
            <h3><a class="article-title" href="{% url 'post-detail' post.id %}"> {{ post.title }} </a></h3>
            </div>
          </div>

          <article class="media content-section" style="margin:30px">
              <div class="media-body">
                  <p class="article-content text-dark">{{ post.introduction|truncatechars:250 }} </p>
              </div>
          </article>
      {% endfor %}
  
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              {% endif %}
              {% endif %}
      </div>
</div>
      {% endblock content %}
      